<!-- REPLACE THIS WITH SIMPLE HYDRODYNAMICS PLUGIN IF YOU WANT TO USE COMPLEX HYDRODYNAMICS -->

<!-- complex hydrodynamics -->
  <xacro:macro name="complex_hydrodynamics_plugin" params="
        link_name
        plugin_filename:='libcomplex_hydrodynamics.so'
        plugin_name:='complex_hydrodynamics'

        water_density:=1000
        default_current:='0 0 0'

        <!-- Added mass (diag) -->
        xDotU:=5.0
        yDotV:=5.0
        zDotW:=10.0
        kDotP:=0.10
        mDotQ:=0.10
        nDotR:=0.10

        <!-- Linear damping -->
        xU:=-20
        yV:=-20
        zW:=-30
        kP:=-5
        mQ:=-5
        nR:=-8

        <!-- Quadratic |v| damping -->
        xUabsU:=-550
        yVabsV:=-550
        zWabsW:=-550
        kPabsP:=-137
        mQabsQ:=-137
        nRabsR:=-137">

      <gazebo>
        <plugin filename="${plugin_filename}" name="${plugin_name}">
          <link_name>${link_name}</link_name>
          <water_density>${water_density}</water_density>
          <default_current>${default_current}</default_current>


          <xDotU>${xDotU}</xDotU>
          <yDotV>${yDotV}</yDotV>
          <zDotW>${zDotW}</zDotW>
          <kDotP>${kDotP}</kDotP>
          <mDotQ>${mDotQ}</mDotQ>
          <nDotR>${nDotR}</nDotR>


          <xU>${xU}</xU>
          <xUabsU>${xUabsU}</xUabsU>
          <yV>${yV}</yV>
          <yVabsV>${yVabsV}</yVabsV>
          <zW>${zW}</zW>
          <zWabsW>${zWabsW}</zWabsW>


          <kP>${kP}</kP>
          <kPabsP>${kPabsP}</kPabsP>
          <mQ>${mQ}</mQ>
          <mQabsQ>${mQabsQ}</mQabsQ>
          <nR>${nR}</nR>
          <nRabsR>${nRabsR}</nRabsR>
        </plugin>
      </gazebo>
    </xacro:macro>  